@import 'theme-colors';

.dashboard {
  padding: 24px 24px 0 24px;

  mat-card {
    margin: 24px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  }

  // Main Card
  .main-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80px;
    padding: 8px 16px;

    color: $white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background: rgb(247, 37, 133);
    background: linear-gradient(
      270deg,
      rgba(247, 37, 133, 1) 0%,
      rgba(181, 23, 158, 1) 10%,
      rgba(114, 9, 183, 1) 20%,
      rgba(86, 11, 173, 1) 30%,
      rgba(72, 12, 168, 1) 40%,
      rgba(58, 12, 163, 1) 50%,
      rgba(63, 55, 201, 1) 60%,
      rgba(67, 97, 238, 1) 70%,
      rgba(72, 149, 239, 1) 80%,
      rgba(76, 201, 240, 1) 100%
    );

    // User Info
    .user-info {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      margin: 4px 0;

      .user-frame {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 3px solid $white;
        margin: 0 16px 0 8px;

        .user-image {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }

      .user-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .user-welcome {
          font-size: 24px;
          margin-bottom: 12px;
        }

        .user-name {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }

    // Activity Info
    .activity-info {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-grow: 1;
      flex-wrap: wrap;

      margin-top: 4px;
      margin-bottom: 4px;

      &-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 8px;
        padding: 8px;
        border-radius: 8px;
        min-height: 64px;
        min-width: 205px;

        background-color: rgba(0, 0, 0, 30%);

        &-icon {
          width: 60px;
          margin-right: 16px;

          opacity: 0.5;
        }

        &-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          margin-right: 12px;
          padding: 6px 0;

          &-number {
            font-size: 24px;
            font-weight: bold;
          }

          &-label {
            opacity: 0.5;
            font-size: 18px;
          }
        }
      }
    }
  }

  .cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // Info Card
    .info-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 3;
      min-width: 512px;
      padding: 0;

      .carousel {
        width: 100%;
      }
    }

    // History Card
    .history-card {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-width: 256px;

      &-icon {
        font-size: 40px;
      }

      .empty-history-placeholder {
        display: block;
        margin-top: 24px;
        color: $unpNeuLight3;
        line-height: 3rem;
        font-weight: bold;
        font-size: 40px;
      }

      .mat-card-content {
        flex-basis: 0;
        flex-grow: 1;
        overflow: auto;
        padding-right: 8px;
      }

      .history-item-card {
        height: auto !important;
        padding: 8px 0;
        margin: 8px 0;
        border-radius: 4px;
        border: 1px solid $unpNeuLight3;
        background-color: $unpNeuLight1;

        .mat-list-item-content {
          height: auto !important;
        }

        .history-item {
          display: flex !important;
          flex-direction: column !important;

          &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            line-height: 16px;
            margin-bottom: 8px;

            &-timestamp {
              font-size: 12px;
              color: $unpNeuMid2;
            }

            &-title {
              font-weight: bold;
            }
          }

          &-description {
            font-size: 14px;
            color: $unpNeuMid3;
          }
        }
      }
    }
  }

  // Smaller devices
  @media only screen and (max-width: 1240px) {
    .cards-row {
      flex-wrap: wrap;

      .history-card {
        display: block;

        .mat-card-content {
          max-height: 512px;
        }
      }
    }
  }
}
