@import 'theme-colors';

.actions-container {
  display: flex;
  align-items: flex-end;
  background-color: $unpNeuLight2;

  .spacer {
    flex-grow: 1;
  }

  .action-button {
    height: 48px;
  }

  .selected-organization {
    display: flex;
    align-items: center;

    .organization-name {
      display: flex;
      flex-direction: column;

      .info {
        font-size: 12px;
      }

      .name {
        color: $unpPink2;
        font-weight: bold;
      }
    }
  }
}
