@import 'theme';

// Colors (primary)
$unpPink1: #f72585;
$unpPink2: #b5179e;
$unpPink3: #7209b7;

// Colors (secondary)
$unpPurple1: #560bad;
$unpPurple2: #480ca8;
$unpPurple3: #3a0ca3;

// Colors (accent)
$unpBlue1: #3f37c9;
$unpBlue2: #4361ee;
$unpBlue3: #4895ef;
$unpBlue4: #4cc9f0;

// Colors (neutral)
$white: #ffffff;
$unpNeuLight1: #f8f9fa;
$unpNeuLight2: #e9ecef;
$unpNeuLight3: #dee2e6;
$unpNeuLight4: #ced4da;
$unpNeuMid1: #adb5bd;
$unpNeuMid2: #6c757d;
$unpNeuMid3: #495057;
$unpNeuMid4: #343a40;
$unpNeuDark1: #212529;
$unpNeuDark2: #171a1c;
$unpNeuDark3: #0a0b0c;
$unpNeuDark4: #040505;
$black: #000000;

/*------------ Start general section -----------------*/
html,
body {
  height: 100%;
  background: $unpNeuLight1;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
