@import 'theme';
// @import 'src/@fott/common/fabric-icons-inline';

// Fonts
@font-face {
  font-family: poppinsFont;
  src: url('./assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: poppinsFont;
  src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: latoFont;
  src: url('./assets/fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$fontPoppins: 'Poppins, "Open Sans", Arial, sans-serif';
$fontLato: 'Lato, "Open Sans", Arial, sans-serif';

/*------------ Start general section -----------------*/
html,
body {
  height: 100%;
  background: $unpNeuLight1;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Margins
.m-0 {
  margin: 0 !important;
}

.m-10px {
  margin: 10px !important;
}

.m-16px {
  margin: 16px !important;
}

.m-h-20px {
  margin: 0 20px;
}

.m-h-10px {
  margin: 0 10px;
}

.mr-3px {
  margin-right: 3px !important;
}

.mr-8px {
  margin-right: 8px;
}

.mr-10px {
  margin-right: 10px;
}

.mr-16px {
  margin-right: 16px;
}

.mt-6px {
  margin-top: 6px !important;
}

.mt-8px {
  margin-top: 8px !important;
}

.ml-8px {
  margin-left: 8px !important;
}

.m-8px {
  margin: 8px !important;
}

.m-0px {
  margin: 0px !important;
}

// Paddings
.p-h-8px {
  padding: 0 8px;
}

.p-h-12px {
  padding: 0 12px !important;
}

.pl-16px {
  padding-left: 16px;
}

.pl-12px {
  padding-left: 12px !important;
}

.pr-12px {
  padding-right: 12px !important;
}

// Flex
.flex {
  display: flex;
}

.flex-auto {
  flex: auto;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

// Shadows
.box-shadow-bot {
  -webkit-box-shadow: 0px 10px 40px -20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 10px 40px -20px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 10px 40px -20px rgba(0, 0, 0, 0.6);
}

.box-shadow-right {
  -webkit-box-shadow: 10px 0px 40px -20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 0px 40px -20px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 0px 40px -20px rgba(0, 0, 0, 0.6);
}

.box-shadow-left {
  -webkit-box-shadow: -10px 0px 40px -20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -10px 0px 40px -20px rgba(0, 0, 0, 0.6);
  box-shadow: -10px 0px 40px -20px rgba(0, 0, 0, 0.6);
}

.box-shadow-center {
  -webkit-box-shadow: 0px 0px 80px -20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 80px -20px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 80px -20px rgba(0, 0, 0, 0.6);
}

// Custom Icons
.unp-icon-16 {
  width: 16px;
  height: 16px;
}

.unp-icon-24 {
  width: 24px;
  height: 24px;
}

// Text
.uppercase {
  text-transform: uppercase;
}

// Fonts
.f-poppins {
  font-family: poppinsFont !important;
}

.f-lato {
  font-family: latoFont !important;
}
