<!-- Background animation -->
<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<!-- Main content -->
<div class="unp-content">
  <img class="unp-logo" src="./assets/logo/UNpaper-Logo-transparent-white.png" alt="UNpaper Logo" />
  <mat-divider class="unp-divider"></mat-divider>
  <h1 class="unp-title f-poppins">Document Digitizer Cloud Solution</h1>
  <button (click)="login()" class="unp-button f-poppins">Sign in</button>
  <button class="unp-button f-poppins">Create an account</button>
</div>

<!-- Footer -->
<footer class="unp-footer f-lato">
  <span>© 2021, Teodor-Adrian Mihăescu, Transilvanya University of Brașov</span>
</footer>
