@import 'theme-colors';

.fott-layout-predict-page {
  color: $unpNeuDark4 !important;
  height: 100%;

  .predict {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 100%;

    .predict-main {
      position: relative;
      display: flex;
      flex-grow: 1;
      height: 100%;
      justify-content: center;
      background-color: $unpNeuMid1;

      .map-wrapper {
        height: calc(100% - 44px) !important;
      }

      > i {
        font-size: 36pt;
      }
    }

    .predict-sidebar {
      height: 100%;
      display: flex;
      width: 400px;
      min-width: 400px;
      background-color: $unpNeuLight4;

      h5 {
        font-size: 1.171875rem !important;
      }

      h6 {
        font-size: 0.9375rem !important;
      }

      .prebuilt-type-dropdown {
        min-width: 130px;
        width: 100%;
        margin-bottom: 10px;
        > span {
          width: 100%;
        }
      }

      .separator-right-pane-main {
        &:before {
          background-color: $unpPink2;
        }

        div {
          color: $unpPink2;
          background-color: $unpNeuLight4;
        }
      }

      .predict-button {
        .ms-Icon {
          color: $unpPink2;
        }
      }
    }
  }
}
