<div class="main-container">
  <!-- Header -->
  <div class="header-container" fxLayout="row" fxLayoutAlign="start">
    <h2 class="header-title" fxFlex fxLayout="row" fxLayoutAlign="start">
      <mat-icon
        *ngIf="showToggleIcon"
        [icIcon]="icToggle"
        (click)="toggleComponentView()"
        color="primary"
        class="toggleIcon"
      ></mat-icon>
      <span>{{ title }}</span>
    </h2>

    <!-- Search -->
    <div [hidden]="hideComponent">
      <div *ngIf="searchDisplay" class="header-search" fxLayout="row" fxLayoutAlign="start center">
        <ic-icon icIcon="icSearch" size="20px"></ic-icon>
        <input
          [formControl]="searchCtrl"
          class="search-input"
          placeholder="Search..."
          type="search"
        />

        <button
          [matMenuTriggerFor]="columnFilterMenu"
          class="ml-4"
          fxFlex="none"
          mat-icon-button
          matTooltip="Filter Columns"
          type="button"
        >
          <mat-icon icIcon="icFilterList"></mat-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Placeholder -->
  <div *ngIf="tableData.length === 0" class="data-placeholder">
    <mat-progress-spinner
      class="loading-spinner"
      [color]="'primary'"
      [mode]="'indeterminate'"
      [diameter]="64"
    ></mat-progress-spinner>
  </div>

  <!-- Table -->
  <div *ngIf="tableData.length > 0" class="data-container" [hidden]="hideComponent">
    <table @stagger [dataSource]="dataSource" class="data-table w-full" mat-table matSort>
      <!--- Note that these columns can be defined in any order.
               The actual rendered columns are set as a property on the row definition" -->

      <!-- Content Column -->
      <ng-container *ngFor="let column of tableColumns; trackBy: trackByProperty">
        <!-- Text Columns -->
        <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ column.label }}
          </th>
          <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
            <a href="" *ngIf="column.property === 'planName'; else noLink" target="_blank">
              {{ row[column.property] }}
            </a>
            <ng-template #noLink>{{ row[column.property] }}</ng-template>
          </td>
        </ng-container>

        <!-- Date Columns -->
        <ng-container *ngIf="column.type === 'date'" [matColumnDef]="column.property">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ column.label }}
          </th>
          <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
            <a href="" *ngIf="column.property === 'planName'; else noLink" target="_blank">
              {{ row[column.property] }}
            </a>
            <ng-template #noLink>{{ row[column.property] | date: 'longDate' }}</ng-template>
          </td>
        </ng-container>

        <!-- Badge Columns -->
        <ng-container *ngIf="column.type === 'badge'" [matColumnDef]="column.property">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ column.label }}
          </th>
          <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
            <mat-icon [icIcon]="row[column.property]"></mat-icon>
          </td>
        </ng-container>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
        <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
          <button
            (click)="$event.stopPropagation()"
            [matMenuTriggerData]="{ entity: row }"
            [matMenuTriggerFor]="actionsMenu"
            mat-icon-button
            type="button"
          >
            <mat-icon icIcon="icMoreHoriz"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
      <tr
        *matRowDef="let row; columns: visibleColumns"
        @fadeInUp
        class="tb-content trans-ease-out"
        mat-row
      ></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      [hidePageSize]="true"
      class="paginator"
    ></mat-paginator>
  </div>
</div>

<!-- Filter Menu -->
<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <ng-container *ngFor="let column of tableColumns">
    <button
      *ngIf="!(column.property === 'actions' || column.property === 'icon')"
      (click)="toggleColumnVisibility(column, $event)"
      class="checkbox-item mat-menu-item"
    >
      <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
        {{ column.label }}
      </mat-checkbox>
    </button>
  </ng-container>
</mat-menu>

<!-- Actions Menu -->
<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-entity="entity" matMenuContent>
    <button (click)="onEditClick(entity)" mat-menu-item>
      <mat-icon icIcon="icEdit"></mat-icon>
      <span>Edit</span>
    </button>
    <button (click)="onDeleteClick(entity)" mat-menu-item>
      <mat-icon icIcon="icDelete"></mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
