<!-- <mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <button mat-button (click)="testAPI()">Test API</button>
  <button mat-button *ngIf="loggedIn" (click)="editProfile()">Edit Profile</button>
  <button mat-raised-button *ngIf="!loggedIn" (click)="login()">Login</button>
  <button mat-raised-button *ngIf="loggedIn" (click)="logout()">Logout</button>
</mat-toolbar> -->
<header>
  <app-header></app-header>
</header>

<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>
